{% load staticfiles%}
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="{% static 'javascripts/front_end_utils.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/kean_sysmain.css' %}" rel="stylesheet" media="screen">
  <script src="{% static 'js/jquery.simplePagination.js' %}"></script>
  <script src="{% static 'js/kean_sysmain.js' %}"></script>
  <script src="{% static 'js/loading.js' %}"></script>
  <link href="{% static 'css/loading.css' %}" rel="stylesheet" media="screen">

  <link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />
  <script src="http://cdn.wijmo.com/spreadjs/jquery.wijmo.wijspread.all.3.20142.11.min.js" type="text/javascript"></script>
  <link href="http://cdn.wijmo.com/spreadjs/jquery.wijmo.wijspread.3.20142.11.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <!-- testing graphics  -->

</head>


<body>
  <div class="container linear">
    <h1>Welcome to KEAN system!</h1>
    <h4><span> Coming soon <span></h4>
    <h4> Hello!  <span style="font-weight:bold"> {{ user_name }} </span> <button class="btn btn-sm btn-primary"> <a style="color:white;" href="{% url 'login:logout'%}"> logout </a> </button> </h4>

  </div>
  <div style="min-width:100%">
    <nav class="navbar navbar-default">
    <div class="container-fluid" style="padding-left:20%;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="http://kindle-energy.com" target="_blank">Kindle-Energy</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'sysmain:sys_mainpage_home' %}">AMR <span class="sr-only">(current)</span></a></li>
          <li><a href="{% url 'sysmain:sys_mainpage_pjmlmp' %}">PJM</a></li>
          <li class="active"><a href="{% url 'sysmain:sys_amr_dashboard' %}">AMR Dashboard(poc only)</a></li>
          <li><a>SPREADSHEET VIEW(poc only)</a></li>
            <!-- {% url 'sysmain:load_amr' %} disabled for now -->
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div class="container">


    <div class="panel panel-primary" style="min-width:900px;min-height:15%;">
      <div class="panel-heading">Budget Variance Panel</div>

      <div class="panel-body" style="max-width:100%">
        <div class="container">
          <select id="company_scenario_picker" style="min-height:30px; min-width:30%;" class="selectpicker btn btn-md btn-primary">
            {% for item in existing_company_scenario_list %}
              <option value="{{item}}">{{item}}</option>
            {% endfor %}
          </select>

          <select id="entity_picker" style="min-height:30px; min-width:30%;" class="selectpicker btn btn-md btn-primary">
            {% for item in entity_list %}
              <option value="{{item}}">{{item}}</option>
            {% endfor %}
          </select>


          <select style="min-height:30px; min-width:20%;" class="selectpicker btn btn-md btn-primary" id ="fsli" >
            <option value ='Energy Revenue'>Energy Revenue</option>
            <option value='Delivered Fuel Expense'>Delivered Fuel Expense</option>
            <option value='Net Emissions Expense'>Net Emissions Expense</option>
            <option value='Variable O&M Expense'>Variable O&M Expense</option>
            <option value='Fixed Fuel'>Fixed Fuel</option>
            <option value='Gross Energy Margin'>Gross Energy Margin</option>
            <option value='Hedge P&L'>Hedge P&L</option>
            <option value='Net Energy Margin'>Net Energy Margin</option>
            <option value='Capacity Revenue'>Capacity Revenue</option>
            <option value='Ancillary Services Revenue'>Ancillary Services Revenue</option>
            <option value='Misc Income'>Misc Income</option>
            <option value='Total Other Income'>Total Other Income</option>
            <option value='Gross Margin'>Gross Margin</option>
            <option value='Labor Expenses'>Labor Expenses</option>
            <option value='Maintenance'>Maintenance</option>
            <option value='Operations'>Operations</option>
            <option value='Removal Costs'>Removal Costs</option>
            <option value='Fuel Handling'>Fuel Handling</option>

            <option value='Fixed Non-Labor Expenses'>Fixed Non-Labor Expenses</option>
            <option value='Property Tax'>Property Tax</option>
            <option value='Insurance'>Insurance</option>
            <option value='General & Administrative'>General & Administrative</option>
            <option value='Total Fixed Costs'>Total Fixed Costs</option>
            <option value='EBITDA'>Adjusted EBITDA</option>

            <option value='Maintenance Capex'>Maintenance Capex</option>
            <option value='Environmental Capex'>Environmental Capex</option>
            <option value='LTSA Capex'>LTSA Capex</option>
            <option value='Growth Capex'>Growth Capex</option>
            <option value='Total Capex'>Total Capital Expenditure</option>
            <option value='EBITDA less Capex'>Adjusted EBITDA less Capex</option>
          </select>

          <button class="btn btn-md btn-primary" onclick="plot_bvr()">Plot</button>

          <div class="col-sm-12" style="height:20px;"></div>

        </div>






        <div id="bvr_plot_div" style="height: 400px; width: 100%;" hidden>
      </div>
    </div>

    </div>
  </div>



</body>

</html>
